.collection__container {
  display: flex;
  margin: auto;
  width: 90vw;
  // background-color: rgba(0, 0, 0, 0.2);

  align-items: center;
  .collection__title {
    font-size: 1.5rem;
  }
  .collection__products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
